<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>XRefresh - browser refresh automation for web developers</title>
		<%= stylesheet_link_tag "reset.css" %>
		<%= stylesheet_link_tag "main.css" %>
		<%= javascript_include_tag "prototype", "effects" %>
		<script>
			// CSS Browser Selector   v0.2.5
			// Documentation:         http://rafael.adm.br/css_browser_selector
			// License:               http://creativecommons.org/licenses/by/2.5/
			// Author:                Rafael Lima (http://rafael.adm.br)
			// Contributors:          http://rafael.adm.br/css_browser_selector#contributors
			var css_browser_selector = function() {
			var ua=navigator.userAgent.toLowerCase(),
			is=function(t){ return ua.indexOf(t) != -1; },
			h=document.getElementsByTagName('html')[0],
			b=(!(/opera|webtv/i.test(ua))&&/msie (\d)/.test(ua))?('ie ie'+RegExp.$1):is('gecko/')? 'gecko':is('opera/9')?'opera opera9':/opera (\d)/.test(ua)?'opera opera'+RegExp.$1:is('konqueror')?'konqueror':is('applewebkit/')?'webkit safari':is('mozilla/')?'gecko':'',
			os=(is('x11')||is('linux'))?' linux':is('mac')?' mac':is('win')?' win':'';
			var c=b+os+' js';
			h.className += h.className?' '+c:c;
			}();
		</script>
	</head>

	<body>
		<div id="doc" class="yui-t7">
			<div id="hd">
				<h1>XRefresh</h1>
				<h2>Browser refresh automation for web developers</h2>
				<a id="logo" href="/"><img src="/images/logo.png" width="300" height="60" alt="XRefresh home" title="XRefresh - browser refresh automation"/></a>
				<ul id="nav">
					<% location = request.env['PATH_INFO']
					select = 'class="active"' %>
					<li id="download" <%= select if location == '' || location == '/' || location =~ /^\/download/ -%>><a href="/">Download</a></li>
					<li id="help" <%= select if location =~ /^\/help/ -%>><a href="/help">Help</a></li>
					<li id="about" <%= select if location =~ /^\/about/ -%>><a href="/about">About</a></li>
					<!-- http://getsatisfaction.com/xrefresh -->
				</ul>
				
			</div>
			<div id="bd">
				<% if (@top_partial) then %>
				<div id="top" class="yui-gc <%=@top_partial%>">
					<div id="top-content" class="yui-u first <%=@top_partial%>1">
						<%= render :partial => @top_partial+'1' %>
					</div>
					<div id="top-sidebar" class="yui-u <%=@top_partial%>2">
						<%= render :partial => @top_partial+'2' %>
					</div>
				</div>
				<% end %>
				<div id="mid" class="yui-gc">
					<div id="mid-content" class="yui-u first">
						<%= yield %>
					</div>
					<div id="mid-sidebar" class="yui-u">
						<%= render :partial => @side_partial %>
					</div>
				</div>
			</div>
			<div id="ft"><p><a href="http://xrefresh.com">xrefresh.com</a> &copy; 2008 <a href="http://hildebrand.cz">Antonin Hildebrand</a>, <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">some rights reserved</a></p></div>
		</div>
		<%= render :partial => 'shared/analytics' %>
	</body>
</html>
