<p>
  <b>Name:</b>
  <%=h @snippet.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @snippet.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @snippet.description %>
</p>

<p>
  <b>Code:</b>
  <%=h @snippet.code %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
